#toDO{
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
   margin: auto;
}
body{
    display: flex;

}
#completed{
    font-size: 10px;
}
#notcompleted{
    font-size: 10px;
}
